html
	head
		title='blogging app'
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="/css/materialize.min.css" type="text/css" rel ="stylesheet")
		link(href="/styless.css" type="text/css" rel ="stylesheet")
		link(href="/css/animate.min.css" type="text/css" rel="stylesheet")


	body
		
			
		div(class="row")

			
				if user
					a(href='/')
						h1(class="title" id="tlt") Psssst!
					h1(class="title" id="pro") Profile
					a(href='/posting') 						
						h1(class="title") All posts
					a(href='/logout') 
						h1(class="title") Log out

					div(class="col s6" id="slideprofile")
						div.scroll
							div(id="profileIntroduction")
								span(id="hello") Hello, #{user.username}! <br>
								p(id="profileIntro") Welcome to your profile page! You can see here all your posts, and post on our blog.

							div(class="userPost")
								div(class="userContent")
									form(class="form1" method='POST' action='/posting')
										p Title <br>
											input(class="titpo" name="title" type="text" required)
										p Post <br>
											input(class="bodypo" name="body" type="text" required)
										p
											input(type="submit" value="submit" class="call_back_btn" required)
						
							div(class="userPersoPost")
								if post
									p Your posts here

									each post in posts
										p #{post.title} 
										p #{post.body}
								else
									p No posts yet!
				else
					div(class="col s12")

						a(href='/')
							h1(class="title" id="tlt") Psssst!
						h1(class="title" id="log") Log in
						h1(class="title" id="reg") Register
						a(href='/posting') 
							h1(class="title") The posts

					div(class="col s6" id="slideRight")
						div(id="firstpart")
							span(id="formTitle") Psssst! Log in here <br>
							p(id="formIntro") To post wathever you like, your login is <br> required! It only takes 2 seconds.<br>
						div
							form(class="form1" method='POST' action='/login')
								span Username <br>
									input(class="username" name='Username' type='text' required)
								span Password <br>
									input(class="password" name='password' type='password' required)
								p 
									input(type='submit' value='Login' class='call_back_btn' required)

					div(class="col s6" id="slideRR")
						div(id="two")
							span(id="formTitle2") Psssst! Register here <br>
							p(id="formIntro2") Not yet registered ? Fill the field !<br>
						div
							form(class="form1" id="form2" method='POST' action='/newlog')
								span Username <br>
									input(class="username2" name='name' type='text' required)
								span Password <br>
									input(class="password" name='pass' type='password' required)
								span Email <br>
									input(class="email" name='mail' type='text' required)
								span Repeat email <br>
									input(class="email2" name='mail2' type='text' required)
											
								p 
									input(type='submit' value='Sign up!' id='call_back_btn2')
		script(src="/jquery-3.1.1.min.js")
		script(src="/js/jquery.textillate.js")
		script(src="/js/jquery.lettering.js")
		script(src="/js/materialize.min.js")
		script(src="custom.js")