html
	head
		title='blogging app'
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="/css/materialize.min.css" type="text/css" rel ="stylesheet")
		link(href="/styless.css" type="text/css" rel ="stylesheet")
	body
		div
			h1 Create new profile	

			form(method='POST' action='/newlog')

				p New username: <br>
					input(name='name' type='text' required)
				p New password: <br>
					input(name='pass' type='text' required)
				p Your email: <br>
					input(name='mail' type='text' required)
				p Email again: <br>
					input(name='mail2' type='text' required)
							
				p 
					input(type='submit' value='login' id='submit')
						
		script(src="/jquery-3.1.1.min.js")
		script(src="js/materialize.min.js")
		script(src="custom.js")

	